version: '2'
services:
  default:
    links:
      - gp-to-repo:gp-to-repo
  gp-to-repo:
    image: ${REPOSITORY_URI}:${COMMIT_HASH}
    ports:
      - 3000:3000
    links: 
      - db:db
  db:
    image: postgres:12.1
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: deductions_user
      POSTGRES_DB: deductions_test
      LC_ALL: C
